* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(29, 31, 33, 0.95);
  color: white;
}

#window {
  font-family: "Ubuntu";
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#tray {
  background: transparent;
}

#keyboard-state {
  color: #c9545d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#disk,
#temperature,
#idle_inhibitor,
#mode {
  border-radius: 10px;
  background: rgba(69, 74, 80, 0.75);
  padding: 0 3px;
}

#idle_inhibitor.activated {
  border-radius: 10px;
  background-color: #c9545d;
}

@keyframes blink {
  to {
    background-color: #c9545d;
    color: rgba(95, 102, 109, 0.75);
  }
}

#battery.critical:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-powermenu,
#custom-launcher {
  font-size: 16px;
  color: #c9545d;
  margin-left: 0.5em;
}
